main {
  display: grid;
  row-gap: 20px;
  padding: 30px 15px;

  @include mdMinBreakPoint {
    padding: 40px 20px;
  }

  @include lgMinBreakPoint {
    padding: 50px;
  }

  @include customMinBreakPoint(1400) {
    @include container;
    padding: 60px 0;
  }
}
