// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$textColor: #323232;
$textLightColor: #969696;
$textLightestColor: #ffffff;

$backgroundColor: #e5e7ef;

$primaryColor: #111e6c;

$secondaryColor: #ef434e;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");

$mainFont: "Montserrat", sans-serif;

// Others

// Heights
$headerHeightMobile: 80px;
$headerHeightTablet: $headerHeightMobile + 30px;
$headerHeightDesktop: $headerHeightMobile + 60px;

// Wrappers
$containerMaxWidth: $screen-full;

// Borders
$cardBorderRadius: 20px;
$cardTitleBorderRadius: 20px;
