.overview {
  display: grid;
  row-gap: 15px;
  width: 100%;

  @include mdMinBreakPoint {
    column-gap: 40px;
    grid-template-columns: 5fr 8fr;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .filter-container {
    display: flex;
    justify-content: flex-end;
  }
}
